In [1]:
IRdisplay::display_html('<style>.container { width:85% !important; }</style>')

# tidytext package basics

* tidyverse univers in R
* what is tidy data?
* key verses for data analysis
* pipe operator
* tidytext package key features - tokenize, stopwords, sentiments and others
* some examples in tidytext package

## class prerequisite

* R의 기본적인 문법 중에서 tidyverse, ggplot2 그리고 pipe operator를 간단히 살펴봅니다.ㅡ,
* 이미 알고 계신 분도 있겠지만, 사실 tidyverse를 잘 알고 계시다면 tidytext는 비교적 쉽게 접근할 수 있는 주제입니다.
* 이론적인 내용은 웹상에 자료가 많으므로 실습을 통해서 내용을 파악해보려고 합니다.

## library load
* 먼저 실습을 위해 필요한 패키지들을 load하겠습니다.
* 패키지를 loadg 하기 위해서는 먼저 이 패키지들이 R에 설치되어 있어야 합니다.
* 패키지를 설치하는 명령어는 아래와 같습니다. 
> install.pakcages("패키지이름")

In [1]:
library(tidyverse)
# library(ggplot2)

─ Attaching packages ──────────────────── tidyverse 1.2.1 ─

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.0.5     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

─ Conflicts ───────────────────── tidyverse_conflicts() ─
✖ dplyr::filter()  masks stats::filter()
✖ purrr::flatten() masks jsonlite::flatten()
✖ dplyr::lag()     masks stats::lag()

## data load & explore
* ggplot2 패키지에는 "diamonds"라는 이름의 데이터가 포함되어 있습니다. 
* 이 데이터로 간단하게 tidyverse 패키지를 살펴보려고 합니다.

In [5]:
diamonds

      carat cut       color clarity depth table price x    y    z
1     0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2     0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3     0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4     0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5     0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6     0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48
7     0.24  Very Good I     VVS1    62.3  57    336   3.95 3.98 2.47
8     0.26  Very Good H     SI1     61.9  55    337   4.07 4.11 2.53
9     0.22  Fair      E     VS2     65.1  61    337   3.87 3.78 2.49
10    0.23  Very Good H     VS1     59.4  61    338   4.00 4.05 2.39
11    0.30  Good      J     SI1     64.0  55    339   4.25 4.28 2.73
12    0.23  Ideal     J     VS1     62.8  56    340   3.93 3.90 2.46
13    0.22  Premium   F     SI1     60.4  61    342   3.88 3.84 2.33
14    0.31  Ideal     J     SI2     62.2  54    344   4.35 4.37 2.71
15    0.20  Premium   E     SI2     60.2  62    345   3.79 3.75 2.27
16    0.32  Premium   E     I1      60.9  58    345   4.38 4.42 2.68
17    0.30  Ideal     I     SI2     62.0  54    348   4.31 4.34 2.68
18    0.30  Good      J     SI1     63.4  54    351   4.23 4.29 2.70
19    0.30  Good      J     SI1     63.8  56    351   4.23 4.26 2.71
20    0.30  Very Good J     SI1     62.7  59    351   4.21 4.27 2.66
21    0.30  Good      I     SI2     63.3  56    351   4.26 4.30 2.71
22    0.23  Very Good E     VS2     63.8  55    352   3.85 3.92 2.48
23    0.23  Very Good H     VS1     61.0  57    353   3.94 3.96 2.41
24    0.31  Very Good J     SI1     59.4  62    353   4.39 4.43 2.62
25    0.31  Very Good J     SI1     58.1  62    353   4.44 4.47 2.59
26    0.23  Very Good G     VVS2    60.4  58    354   3.97 4.01 2.41
27    0.24  Premium   I     VS1     62.5  57    355   3.97 3.94 2.47
28    0.30  Very Good J     VS2     62.2  57    357   4.28 4.30 2.67
29    0.23  Very Good D     VS2     60.5  61    357   3.96 3.97 2.40
30    0.23  Very Good F     VS1     60.9  57    357   3.96 3.99 2.42
⋮     ⋮     ⋮         ⋮     ⋮       ⋮     ⋮     ⋮     ⋮    ⋮    ⋮
53911 0.70  Premium   E     SI1     60.5  58    2753  5.74 5.77 3.48
53912 0.57  Premium   E     IF      59.8  60    2753  5.43 5.38 3.23
53913 0.61  Premium   F     VVS1    61.8  59    2753  5.48 5.40 3.36
53914 0.80  Good      G     VS2     64.2  58    2753  5.84 5.81 3.74
53915 0.84  Good      I     VS1     63.7  59    2753  5.94 5.90 3.77
53916 0.77  Ideal     E     SI2     62.1  56    2753  5.84 5.86 3.63
53917 0.74  Good      D     SI1     63.1  59    2753  5.71 5.74 3.61
53918 0.90  Very Good J     SI1     63.2  60    2753  6.12 6.09 3.86
53919 0.76  Premium   I     VS1     59.3  62    2753  5.93 5.85 3.49
53920 0.76  Ideal     I     VVS1    62.2  55    2753  5.89 5.87 3.66
53921 0.70  Very Good E     VS2     62.4  60    2755  5.57 5.61 3.49
53922 0.70  Very Good E     VS2     62.8  60    2755  5.59 5.65 3.53
53923 0.70  Very Good D     VS1     63.1  59    2755  5.67 5.58 3.55
53924 0.73  Ideal     I     VS2     61.3  56    2756  5.80 5.84 3.57
53925 0.73  Ideal     I     VS2     61.6  55    2756  5.82 5.84 3.59
53926 0.79  Ideal     I     SI1     61.6  56    2756  5.95 5.97 3.67
53927 0.71  Ideal     E     SI1     61.9  56    2756  5.71 5.73 3.54
53928 0.79  Good      F     SI1     58.1  59    2756  6.06 6.13 3.54
53929 0.79  Premium   E     SI2     61.4  58    2756  6.03 5.96 3.68
53930 0.71  Ideal     G     VS1     61.4  56    2756  5.76 5.73 3.53
53931 0.71  Premium   E     SI1     60.5  55    2756  5.79 5.74 3.49
53932 0.71  Premium   F     SI1     59.8  62    2756  5.74 5.73 3.43
53933 0.70  Very Good E     VS2     60.5  59    2757  5.71 5.76 3.47
53934 0.70  Very Good E     VS2     61.2  59    2757  5.69 5.72 3.49
53935 0.72  Premium   D     SI1     62.7  59    2757  5.69 5.73 3.58
53936 0.72  Ideal     D     SI1     60.8  57    2757  5.75 5.76 3.50
53937 0.72  Good      D     SI1     63.1  55    2757  5.69 5.75 3.61
53938 0.70  Very Good D     SI1     62.8  60    2757  5.66 5.68 3.56
53939 0.86  Premium   H     SI2     61.0  58    2757  6.15 6.12 3.74
53940 0.75  Ideal     D     SI2     62.2  55    2757  5.83 5.87 3.64

### head
* 상위 n개 데이터만 살펴볼 수 있습니다.

In [3]:
head(diamonds, 2)

  carat cut     color clarity depth table price x    y    z
1 0.23  Ideal   E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium E     SI1     59.8  61    326   3.89 3.84 2.31

### tail
* 맨 마지막 n개 데이터만 살펴볼 수 있습니다.

In [19]:
tail(diamonds,3)

  carat cut       color clarity depth table price x    y    z
1 0.70  Very Good D     SI1     62.8  60    2757  5.66 5.68 3.56
2 0.86  Premium   H     SI2     61.0  58    2757  6.15 6.12 3.74
3 0.75  Ideal     D     SI2     62.2  55    2757  5.83 5.87 3.64

### str
* 데이터의 구조(Structure)를 알 수 있습니다.

In [6]:
str(diamonds)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	53940 obs. of  10 variables:
 $ carat  : num  0.23 0.21 0.23 0.29 0.31 0.24 0.24 0.26 0.22 0.23 ...
 $ cut    : Ord.factor w/ 5 levels "Fair"<"Good"<..: 5 4 2 4 2 3 3 3 1 3 ...
 $ color  : Ord.factor w/ 7 levels "D"<"E"<"F"<"G"<..: 2 2 2 6 7 7 6 5 2 5 ...
 $ clarity: Ord.factor w/ 8 levels "I1"<"SI2"<"SI1"<..: 2 3 5 4 2 6 7 3 4 5 ...
 $ depth  : num  61.5 59.8 56.9 62.4 63.3 62.8 62.3 61.9 65.1 59.4 ...
 $ table  : num  55 61 65 58 58 57 57 55 61 61 ...
 $ price  : int  326 326 327 334 335 336 336 337 337 338 ...
 $ x      : num  3.95 3.89 4.05 4.2 4.34 3.94 3.95 4.07 3.87 4 ...
 $ y      : num  3.98 3.84 4.07 4.23 4.35 3.96 3.98 4.11 3.78 4.05 ...
 $ z      : num  2.43 2.31 2.31 2.63 2.75 2.48 2.47 2.53 2.49 2.39 ...

### unique
* 특정 컬럼의 고유한 값들을 확인할 수 있습니다.

In [5]:
# head(diamonds,3)
unique(diamonds$color)

[1] E I J H F G D
Levels: D < E < F < G < H < I < J

### n_distinct()
* 특정 컬럼의 고유값 갯수를 확인할 수 있습니다.

In [4]:
n_distinct(diamonds$color)

[1] 7

## 5 key tidy verse
1. filter()
2. arrange()
3. select()
4. mutate()
5. summarise() with group_by()

### filter()
* 조건에 따라 행을 필터하는 것입니다.

In [21]:
head(diamonds,3)

  carat cut     color clarity depth table price x    y    z
1 0.23  Ideal   E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good    E     VS1     56.9  65    327   4.05 4.07 2.31

* 복합 조건도 사용할 수 있습니다.

In [11]:
# filter(diamonds, clarity=="SI2")
# filter(diamonds, carat >= 0.3 & price >= 18800)
# filter(diamonds, price <= 1000 & carat <= 1)
# filter(diamonds, color == "E" | color == "J")

# a <- filter(diamonds, (cut == "Premium" | cut == "Very Good"))
# filter(a, price >= 18000)

filter(diamonds, ((cut == "Premium" | cut == "Very Good") & price >= 18000))

    carat cut       color clarity depth table price x    y    z
1   2.09  Premium   F     SI2     61.7  59.0  18002 8.23 8.21 5.07
2   2.18  Premium   G     SI2     61.9  60.0  18003 8.29 8.24 5.12
3   2.06  Very Good G     SI2     62.3  59.0  18005 8.07 8.20 5.07
4   2.25  Premium   D     SI2     60.4  59.0  18007 8.54 8.48 5.13
5   1.76  Very Good G     VS1     62.8  55.4  18014 7.70 7.74 4.85
6   2.51  Premium   J     VS2     62.2  58.0  18020 8.73 8.67 5.41
7   2.32  Premium   I     SI1     61.2  58.0  18026 8.57 8.52 5.23
8   2.01  Very Good H     SI1     58.2  63.0  18027 8.32 8.23 4.82
9   2.26  Very Good D     SI2     61.6  61.0  18028 8.47 8.38 5.19
10  2.51  Very Good H     SI2     63.6  58.0  18029 8.51 8.59 5.44
11  2.11  Premium   E     SI2     62.4  61.0  18034 8.19 8.10 5.08
12  2.25  Premium   I     SI1     60.1  60.0  18034 8.55 8.51 5.13
13  2.25  Premium   H     SI2     62.8  59.0  18034 0.00 0.00 0.00
14  2.01  Very Good I     VS1     62.9  59.0  18041 7.94 8.03 5.02
15  2.28  Premium   H     SI2     62.1  59.0  18055 8.44 8.40 5.23
16  2.04  Premium   F     SI2     60.2  58.0  18066 8.17 8.24 4.94
17  2.19  Very Good E     SI2     62.4  61.0  18067 8.23 8.31 5.16
18  2.29  Very Good I     SI1     61.8  59.0  18068 8.44 8.51 5.24
19  2.11  Very Good F     SI2     63.5  55.0  18071 8.08 8.13 5.15
20  2.01  Very Good G     SI1     59.1  57.0  18077 8.16 8.23 4.84
21  2.01  Premium   G     SI1     61.8  60.0  18077 7.99 8.04 4.95
22  2.51  Very Good I     SI2     62.3  57.0  18090 8.69 8.76 5.44
23  1.51  Premium   F     IF      60.5  61.0  18102 7.50 7.40 4.45
24  2.04  Premium   H     VS1     60.7  61.0  18104 8.18 8.10 4.94
25  1.70  Very Good G     VS2     61.9  55.0  18107 7.64 7.68 4.74
26  1.70  Very Good E     VS2     58.6  60.0  18107 7.91 7.82 4.61
27  1.14  Very Good D     IF      59.1  58.0  18112 6.83 6.90 4.06
28  1.07  Very Good D     IF      60.9  58.0  18114 6.57 6.67 4.03
29  2.03  Very Good E     SI2     58.8  59.0  18115 8.23 8.28 4.85
30  2.04  Premium   H     SI1     62.5  61.0  18115 8.08 8.04 5.04
⋮   ⋮     ⋮         ⋮     ⋮       ⋮     ⋮     ⋮     ⋮    ⋮    ⋮
144 2.03  Premium   G     VS2     59.6  60.0  18680 8.27 8.21 4.91
145 1.50  Very Good G     VS2     60.7  59.0  18691 7.31 7.38 4.46
146 2.43  Premium   J     VS2     62.2  57.0  18692 8.63 8.54 5.34
147 2.48  Very Good F     SI2     63.4  56.0  18692 8.64 8.55 5.45
148 3.51  Premium   J     VS2     62.5  59.0  18701 9.66 9.63 6.03
149 2.01  Premium   G     SI2     61.2  57.2  18705 8.08 8.14 4.97
150 2.22  Premium   J     VS1     60.0  60.0  18706 8.49 8.43 5.08
151 2.00  Very Good E     SI1     60.5  59.0  18709 8.09 8.14 4.94
152 3.01  Premium   J     SI2     60.7  59.0  18710 9.35 9.22 5.64
153 3.01  Premium   J     SI2     59.7  58.0  18710 9.41 9.32 5.59
154 2.18  Premium   F     SI1     61.2  60.0  18717 8.38 8.30 5.10
155 1.70  Premium   G     VVS2    59.8  59.0  18718 7.70 7.75 4.62
156 1.72  Premium   G     VVS2    61.8  60.0  18730 7.65 7.68 4.74
157 2.02  Very Good E     SI1     59.8  59.0  18731 8.11 8.20 4.88
158 1.94  Premium   F     SI1     62.6  58.0  18735 7.91 7.87 4.94
159 2.01  Very Good G     SI1     63.1  59.0  18741 8.03 7.98 5.05
160 2.01  Premium   G     SI1     60.3  59.0  18741 8.23 8.15 4.94
161 2.36  Premium   H     SI2     59.4  58.0  18745 8.69 8.75 5.18
162 2.00  Very Good F     SI1     57.9  60.0  18759 8.28 8.34 4.81
163 2.55  Premium   I     VS1     61.8  62.0  18766 8.70 8.65 5.36
164 1.51  Very Good F     VVS1    62.6  59.0  18777 7.33 7.24 4.56
165 2.03  Very Good H     SI1     63.0  60.0  18781 8.00 7.93 5.02
166 2.05  Premium   F     SI2     60.2  59.0  18784 8.28 8.33 5.00
167 1.71  Premium   F     VS2     62.3  59.0  18791 7.57 7.53 4.70
168 2.04  Premium   H     SI1     58.1  60.0  18795 8.37 8.28 4.84
169 2.00  Premium   I     VS1     60.8  59.0  18795 8.13 8.02 4.91
170 2.29  Premium   I     SI1     61.8  59.0  18797 8.52 8.45 5.24
171 2.00  Very Good H     SI1     62.8  57.0  18803 7.95 8.00 5.01
172 2.00  Very Good G     SI1     63.5  56.0  18818 7.90 7.97 5.04
173 2.29  Premium   I     VS2     60.8  60.0  18823 8.50 8.47 5.16

* 조건에 의해 필터된 데이터의 갯수를 알고 싶다면?

In [14]:

df <- filter(diamonds, carat >= 0.3 & price >= 18800) # 엑셀에서 일정 조적으로 필터한 후 새로운 시트를 만드는 것과 같습니다.

n_distinct(df) 

#str(df)

[1] 5

### arrange()
* 특정 컬럼을 기준으로 정렬할 수 있습니다.

In [20]:
# df <- arrange(diamonds, price) # 오름차순이 기본
# df <- arrange(diamonds, desc(price)) # 내림차순으로 정렬할 때

# arrange(diamonds, desc(clarity)) # 내림차순으로 정렬할 때

df <- arrange(diamonds, desc(clarity), desc(price)) # 복합적인 조건으로 정렬할 수도 있습니다.

head(df, 10)

   carat cut       color clarity depth table price x    y    z
1  1.51  Ideal     G     IF      61.7  55    18806 7.37 7.41 4.56
2  1.28  Ideal     E     IF      60.7  57    18700 7.09 6.99 4.27
3  2.29  Premium   J     IF      61.4  60    18594 8.49 8.45 5.20
4  1.50  Very Good F     IF      63.2  58    18552 7.20 7.32 4.59
5  1.04  Very Good D     IF      61.3  56    18542 6.53 6.55 4.01
6  1.33  Ideal     F     IF      60.2  57    18435 7.12 7.17 4.30
7  2.29  Premium   J     IF      61.4  60    18426 8.45 8.49 5.20
8  1.07  Premium   D     IF      60.9  58    18279 6.67 6.57 4.03
9  1.09  Very Good D     IF      61.7  58    18231 6.55 6.65 4.07
10 1.07  Very Good D     IF      60.9  58    18114 6.57 6.67 4.03

### select()
* 열을 선택하는 것입니다. 일부 열만 선택하여 새로운 DataFrame을 만들게 됩니다.

In [32]:
head(diamonds,3)
df <- select(diamonds, cut, color, price)

head(df, 10)

  carat cut     color clarity depth table price x    y    z
1 0.23  Ideal   E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good    E     VS1     56.9  65    327   4.05 4.07 2.31

   cut       color price
1  Ideal     E     326
2  Premium   E     326
3  Good      E     327
4  Premium   I     334
5  Good      J     335
6  Very Good J     336
7  Very Good I     336
8  Very Good H     337
9  Fair      E     337
10 Very Good H     338

* 선택하면서 이름을 변경할 수 있습니다.

In [36]:
df <- select(diamonds, c = cut, l = color, p = price)

head(df, 5)

# rename(diamonds, c2=cut, l2=color)

  c       l p
1 Ideal   E 326
2 Premium E 326
3 Good    E 327
4 Premium I 334
5 Good    J 335

* 제외할 컬럼을 설정할 수도 있습니다.

In [23]:
# select(diamonds, -cut, -color)

* 특정 컬럼을 가장 좌측에 먼저 두고, 나머지 컬럼을 그대로 유지할 수 있습니다.

In [25]:
# select(diamonds, price, everything())

### mutate()
* 열을 새로 만들 수 있습니다.
* 기존 열들의 계산식을 사용할 수 있습니다.
* 새로 만들어진 열의 이름을 또 사용할 수 있습니다.

In [26]:
df <- mutate(diamonds, x_and_y = x+y)

head(df, 5)

  carat cut     color clarity depth table price x    y    z    x_and_y
1 0.23  Ideal   E     SI2     61.5  55    326   3.95 3.98 2.43 7.93
2 0.21  Premium E     SI1     59.8  61    326   3.89 3.84 2.31 7.73
3 0.23  Good    E     VS1     56.9  65    327   4.05 4.07 2.31 8.12
4 0.29  Premium I     VS2     62.4  58    334   4.20 4.23 2.63 8.43
5 0.31  Good    J     SI2     63.3  58    335   4.34 4.35 2.75 8.69

* 열 이름 재사용

In [39]:
df <- mutate(diamonds, x_and_y = x+y, q = x_and_y/price)

df1 <- mutate(diamonds, x_and_y = x+y)
df2 <- mutate(df1, q = x_and_y/price)

head(df2, 5)

  carat cut     color clarity depth table price x    y    z    x_and_y
1 0.23  Ideal   E     SI2     61.5  55    326   3.95 3.98 2.43 7.93
2 0.21  Premium E     SI1     59.8  61    326   3.89 3.84 2.31 7.73
3 0.23  Good    E     VS1     56.9  65    327   4.05 4.07 2.31 8.12
4 0.29  Premium I     VS2     62.4  58    334   4.20 4.23 2.63 8.43
5 0.31  Good    J     SI2     63.3  58    335   4.34 4.35 2.75 8.69
  q
1 0.02432515
2 0.02371166
3 0.02483180
4 0.02523952
5 0.02594030

* 엑셀과 같이 조건에 따른 dummy 변수 생성도 가능합니다. (ifelse)

In [31]:
df <- mutate(diamonds, rank = ifelse(price >= 18000,'good','bad')) 
# df <- mutate(diamonds, rank = ifelse(price >= 18000,'good',ifelse(price>= 10000, 'not bad', 'bad')))

head(df, 5)

# filter(df, rank == 'good')
# filter(df, rank == 'not bad')

  carat cut     color clarity depth table price x    y    z    rank
1 0.23  Ideal   E     SI2     61.5  55    326   3.95 3.98 2.43 bad
2 0.21  Premium E     SI1     59.8  61    326   3.89 3.84 2.31 bad
3 0.23  Good    E     VS1     56.9  65    327   4.05 4.07 2.31 bad
4 0.29  Premium I     VS2     62.4  58    334   4.20 4.23 2.63 bad
5 0.31  Good    J     SI2     63.3  58    335   4.34 4.35 2.75 bad

### summarise() and group_by()
* 엑셀의 피봇 기능과 유사합니다.
* summarise()는 계산 함수를 사용해서 값을 산출합니다.
* 여기에 group_by() 함수를 사용하면 특정 그룹별로 값을 산출할 수 있습니다.

In [33]:
# summarise(diamonds, AVG = mean(price))

# 여러 계산 값을 한꺼번에 구할 수 있습니다. 
summarise(diamonds, SUM = sum(price), AVG = mean(price))

  SUM       AVG
1 212135217 3932.8

* group_by()는 summarise()의 계산 대상 그룹을 정의하는 함수입니다.

In [37]:
diamonds_group_01 <- group_by(diamonds, color)
# diamonds_group <- group_by(diamonds, color,cut)

# with group
summarise(diamonds_group_01, avg = mean(price))
# without group
summarise(diamonds, SUM = sum(price))


# 여러 계산 값을 한꺼번에 구할 수 있습니다. 
 summarise(diamonds_group_01, SUM = sum(price), AVG = mean(price))

`summarise()` ungrouping output (override with `.groups` argument)

  color avg
1 D     3169.954
2 E     3076.752
3 F     3724.886
4 G     3999.136
5 H     4486.669
6 I     5091.875
7 J     5323.818

  SUM
1 212135217

`summarise()` ungrouping output (override with `.groups` argument)

  color SUM      AVG
1 D     21476439 3169.954
2 E     30142944 3076.752
3 F     35542866 3724.886
4 G     45158240 3999.136
5 H     37257301 4486.669
6 I     27608146 5091.875
7 J     14949281 5323.818

* 여러 컬럼을 그룹의 기준으로 정할 수 있습니다.

In [38]:
diamonds_group_02 <- group_by(diamonds, color,cut)

# with group
summarise(diamonds_group_02, avg = mean(price))
# without group
summarise(diamonds, SUM = sum(price))


# 여러 계산 값을 한꺼번에 구할 수 있습니다. 
 summarise(diamonds_group_02, SUM = sum(price), AVG = mean(price))

`summarise()` regrouping output by 'color' (override with `.groups` argument)

   color cut       avg
1  D     Fair      4291.061
2  D     Good      3405.382
3  D     Very Good 3470.467
4  D     Premium   3631.293
5  D     Ideal     2629.095
6  E     Fair      3682.312
7  E     Good      3423.644
8  E     Very Good 3214.652
9  E     Premium   3538.914
10 E     Ideal     2597.550
11 F     Fair      3827.003
12 F     Good      3495.750
13 F     Very Good 3778.820
14 F     Premium   4324.890
15 F     Ideal     3374.939
16 G     Fair      4239.255
17 G     Good      4123.482
18 G     Very Good 3872.754
19 G     Premium   4500.742
20 G     Ideal     3720.706
21 H     Fair      5135.683
22 H     Good      4276.255
23 H     Very Good 4535.390
24 H     Premium   5216.707
25 H     Ideal     3889.335
26 I     Fair      4685.446
27 I     Good      5078.533
28 I     Very Good 5255.880
29 I     Premium   5946.181
30 I     Ideal     4451.970
31 J     Fair      4975.655
32 J     Good      4574.173
33 J     Very Good 5103.513
34 J     Premium   6294.592
35 J     Ideal     4918.186

  SUM
1 212135217

`summarise()` regrouping output by 'color' (override with `.groups` argument)

   color cut       SUM      AVG
1  D     Fair        699443 4291.061
2  D     Good       2254363 3405.382
3  D     Very Good  5250817 3470.467
4  D     Premium    5820962 3631.293
5  D     Ideal      7450854 2629.095
6  E     Fair        824838 3682.312
7  E     Good       3194260 3423.644
8  E     Very Good  7715165 3214.652
9  E     Premium    8270443 3538.914
10 E     Ideal     10138238 2597.550
11 F     Fair       1194025 3827.003
12 F     Good       3177637 3495.750
13 F     Very Good  8177367 3778.820
14 F     Premium   10081319 4324.890
15 F     Ideal     12912518 3374.939
16 G     Fair       1331126 4239.255
17 G     Good       3591553 4123.482
18 G     Very Good  8903461 3872.754
19 G     Premium   13160170 4500.742
20 G     Ideal     18171930 3720.706
21 H     Fair       1556112 5135.683
22 H     Good       3001931 4276.255
23 H     Very Good  8272552 4535.390
24 H     Premium   12311428 5216.707
25 H     Ideal     12115278 3889.335
26 I     Fair        819953 4685.446
27 I     Good       2650994 5078.533
28 I     Very Good  6328079 5255.880
29 I     Premium    8491146 5946.181
30 I     Ideal      9317974 4451.970
31 J     Fair        592103 4975.655
32 J     Good       1404271 4574.173
33 J     Very Good  3460182 5103.513
34 J     Premium    5086030 6294.592
35 J     Ideal      4406695 4918.186

## pipe operator : %>%
* 위에서 실습하는 동안 알 수 있듯이, tidy verse를 사용하는 동안 중간에 만들어지는 데이터를 변수로 저장해야 합니다.
* 저장된 변수를 다른 tidy verse에서 input data frame으로 사용하여 결과를 산출합니다.
* 이와 같은 반복된 과정에서 발생하는 문제는 다음과 같은 것이 있습니다.
    * 중간에 계속 변수를 저장해야 하기 때문에 자원 낭비가 있고, 분석 과정에서 실수가 발생할 수 있다.
    * 양파껍질 같이 함수가 nested 구조가 되어 직관적인 분석을 하기가 어렵다.

### without pipe operator
* 예를 들어, 아래와 같은 순서로 분석을 해보자.
    1. select()를 이용해서 특정 컬럼을 선택하여 새로운 data frame을 생성함
    2. filter()를 이용해서 특정 행을 선택하여 새로운 data frame을 생성함
    3. group_by()를 이용해서 결과 산출을 위한 그룹을 정의하여 새로운 data frame을 생성함
    4. summarise()를 이용해서 결과 산출 함수를 생성한 그룹별로 구하여 테이블을 생성함
    5. arrange()를 이용하여 산출된 결과를 정렬함.

In [57]:
#1
d_selected <- select(diamonds, color, clarity, depth, price)
# head(d_selected,3)

In [59]:
#2
d_selected_filtered <- filter(d_selected, price >= 1000 & depth >= 70)
# head(d_selected_filtered,3)
# str(d_selected_filtered)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	22 obs. of  4 variables:
 $ color  : Ord.factor w/ 7 levels "D"<"E"<"F"<"G"<..: 5 6 6 1 5 7 4 5 5 3 ...
 $ clarity: Ord.factor w/ 8 levels "I1"<"SI2"<"SI1"<..: 4 2 1 3 5 1 1 1 1 2 ...
 $ depth  : num  71.6 70.1 71.3 70.6 71.8 70 70.2 70.1 70.5 70.2 ...
 $ price  : int  3593 4328 4368 4398 4455 5083 6315 6564 6860 15351 ...

In [60]:
#3
d_selected_filtered_group <- group_by(d_selected_filtered, color)
head(d_selected_filtered_group,3)
str(d_selected_filtered_group)

  color clarity depth price
1 H     VS2     71.6  3593
2 I     SI2     70.1  4328
3 I     I1      71.3  4368

Classes ‘grouped_df’, ‘tbl_df’, ‘tbl’ and 'data.frame':	22 obs. of  4 variables:
 $ color  : Ord.factor w/ 7 levels "D"<"E"<"F"<"G"<..: 5 6 6 1 5 7 4 5 5 3 ...
 $ clarity: Ord.factor w/ 8 levels "I1"<"SI2"<"SI1"<..: 4 2 1 3 5 1 1 1 1 2 ...
 $ depth  : num  71.6 70.1 71.3 70.6 71.8 70 70.2 70.1 70.5 70.2 ...
 $ price  : int  3593 4328 4368 4398 4455 5083 6315 6564 6860 15351 ...
 - attr(*, "groups")=Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	7 obs. of  2 variables:
  ..$ color: Ord.factor w/ 7 levels "D"<"E"<"F"<"G"<..: 1 2 3 4 5 6 7
  ..$ .rows:List of 7
  .. ..$ : int  4 15
  .. ..$ : int  13 17 20 21
  .. ..$ : int 10
  .. ..$ : int  7 11 18 19 22
  .. ..$ : int  1 5 8 9 14
  .. ..$ : int  2 3 12
  .. ..$ : int  6 16
  ..- attr(*, ".drop")= logi TRUE

In [63]:
#4
d_selected_filtered_group_summarise <- summarise(d_selected_filtered_group, SUM=sum(price), AVG=mean(price))
head(d_selected_filtered_group_summarise,20)

  color SUM   AVG
1 D      6094  3047.000
2 E      8248  2062.000
3 F     15351 15351.000
4 G     32344  6468.800
5 H     22746  4549.200
6 I      9745  3248.333
7 J      6872  3436.000

In [64]:
#5
arrange(d_selected_filtered_group_summarise, desc(AVG))

  color SUM   AVG
1 F     15351 15351.000
2 G     32344  6468.800
3 H     22746  4549.200
4 J      6872  3436.000
5 I      9745  3248.333
6 D      6094  3047.000
7 E      8248  2062.000

### nested function
* 분석이 이루어진 반대의 순서로 생각하여 코딩을 하면 중간 변수 생성을 하지 않을 수 있음

In [92]:
#5
arrange(d_selected_filtered_group_summarise, desc(AVG))

  color SUM   AVG
1 F     15351 15351.000
2 G     32344  6468.800
3 H     22746  4549.200
4 J      6872  3436.000
5 I      9745  3248.333
6 D      6094  3047.000
7 E      8248  2062.000

In [94]:
#5 and #4
4 d_selected_filtered_group_summarise <- summarise(d_selected_filtered_group, SUM=sum(price), AVG=mean(price))
arrange(summarise(d_selected_filtered_group, SUM=sum(price), AVG=mean(price)), desc(AVG))

  color SUM   AVG
1 F     15351 15351.000
2 G     32344  6468.800
3 H     22746  4549.200
4 J      6872  3436.000
5 I      9745  3248.333
6 D      6094  3047.000
7 E      8248  2062.000

In [95]:
#5 #4 #3 
#4 d_selected_filtered_group_summarise <- summarise(d_selected_filtered_group, SUM=sum(price), AVG=mean(price))
#3 d_selected_filtered_group <- group_by(d_selected_filtered, color)
arrange(summarise(group_by(d_selected_filtered, color), SUM=sum(price), AVG=mean(price)), desc(AVG))

  color SUM   AVG
1 F     15351 15351.000
2 G     32344  6468.800
3 H     22746  4549.200
4 J      6872  3436.000
5 I      9745  3248.333
6 D      6094  3047.000
7 E      8248  2062.000

In [96]:
#5 #4 #3 #2
#4 d_selected_filtered_group_summarise <- summarise(d_selected_filtered_group, SUM=sum(price), AVG=mean(price))
#3 d_selected_filtered_group <- group_by(d_selected_filtered, color)
#2 d_selected_filtered <- filter(d_selected, price >= 1000 & depth >= 70)
arrange(summarise(group_by(filter(d_selected, price >= 1000 & depth >= 70), color), SUM=sum(price), AVG=mean(price)), desc(AVG))

  color SUM   AVG
1 F     15351 15351.000
2 G     32344  6468.800
3 H     22746  4549.200
4 J      6872  3436.000
5 I      9745  3248.333
6 D      6094  3047.000
7 E      8248  2062.000

In [97]:
#5 #4 #3 #2 #1 
#4 d_selected_filtered_group_summarise <- summarise(d_selected_filtered_group, SUM=sum(price), AVG=mean(price))
#3 d_selected_filtered_group <- group_by(d_selected_filtered, color)
#2 d_selected_filtered <- filter(d_selected, price >= 1000 & depth >= 70)
#1 d_selected <- select(diamonds, color, clarity, depth, price)
arrange(summarise(group_by(filter(select(diamonds, color, clarity, depth, price), price >= 1000 & depth >= 70), color), SUM=sum(price), AVG=mean(price)), desc(AVG))

  color SUM   AVG
1 F     15351 15351.000
2 G     32344  6468.800
3 H     22746  4549.200
4 J      6872  3436.000
5 I      9745  3248.333
6 D      6094  3047.000
7 E      8248  2062.000

* 이제 이렇게 변수를 사용하지 않고 만들어진 함수의 nested 구조를 정돈해보겠습니다.

In [99]:
#5 #4 #3 #2 #1 
#4 d_selected_filtered_group_summarise <- summarise(d_selected_filtered_group, SUM=sum(price), AVG=mean(price))
#3 d_selected_filtered_group <- group_by(d_selected_filtered, color)
#2 d_selected_filtered <- filter(d_selected, price >= 1000 & depth >= 70)
#1 d_selected <- select(diamonds, color, clarity, depth, price)

arrange(
    summarise(
        group_by(
            filter(
                select(
                    diamonds, color, clarity, depth, price
                ), price >= 1000 & depth >= 70
            ), color
        ), SUM=sum(price), AVG=mean(price)
    ), desc(AVG)
)

  color SUM   AVG
1 F     15351 15351.000
2 G     32344  6468.800
3 H     22746  4549.200
4 J      6872  3436.000
5 I      9745  3248.333
6 D      6094  3047.000
7 E      8248  2062.000

* 중간 변수를 사용하지 않고 nested 함수 구조를 사용하려면 이렇게 복잡하게 생각해야 합니다.
* 즉, 가장 나중에 적용할 arrange 함수부터 고민을 해야 합니다.
* 중요한 것은, 분석자의 생각은 nested 함수의 안쪽에서부터 시작된다는 것입니다. 즉,
    1. select()로 분석하려는 컬럼을 선정하고
    2. filter()로 조건을 주어서 필요한 데이터만 골라내고
    3. group_by()로 그룹을 정의하고
    4. summarise()로 정의한 그룹에 대해서 값을 산출하고
    5. arrange()로 산출 결과를 정렬합니다.
* pipe operator를 바로 이와 같은 이슈를 처리하는 연산자입니다.

### with pipe operator

In [101]:
diamonds  %>% 
select(color, clarity, depth, price)  %>% 
filter(price >= 1000 & depth >= 70)  %>% 
group_by(color)  %>% 
summarise(SUM=sum(price), AVG=mean(price))  %>% 
arrange(desc(AVG))

  color SUM   AVG
1 F     15351 15351.000
2 G     32344  6468.800
3 H     22746  4549.200
4 J      6872  3436.000
5 I      9745  3248.333
6 D      6094  3047.000
7 E      8248  2062.000

In [103]:


select(diamonds,clarity, depth, price) 

# 위 아래가 동일합니다.

diamonds  %>% select(clarity, depth,price)

### tidyverse and tibble
* tidyvers는 공통적으로 input과 ouput 의 type이 동일하게 모두 tibble 입니다.
* input, output이 같기 때문에 위와 같은 chaining operator를 사용할 수 있습니다.

## tidytext package

### library load

In [65]:
# install.packages("tidytext")
library(tidytext)

### data generation

In [68]:
text <- c("Row, row, row your boat", 
          "Gently down the stream",
          "Merrily merrily, merrily, merrily",
          "Life is but a dream")

text
str(text)

[1] "Row, row, row your boat"           "Gently down the stream"
[3] "Merrily merrily, merrily, merrily" "Life is but a dream"

 chr [1:4] "Row, row, row your boat" "Gently down the stream" ...

In [69]:
typeof(text)

[1] "character"

In [70]:
text

[1] "Row, row, row your boat"           "Gently down the stream"
[3] "Merrily merrily, merrily, merrily" "Life is but a dream"

In [77]:
text[2]

[1] "Gently down the stream"

### convert to data frame (tibble)

In [80]:
text_df <- data.frame(line = 1:4, text = text)

In [81]:
str(text_df)

'data.frame':	4 obs. of  2 variables:
 $ line: int  1 2 3 4
 $ text: Factor w/ 4 levels "Gently down the stream",..: 4 1 3 2

In [84]:
text_df <- tibble(line = 1:4, text = text)

In [83]:
str(text_df)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	4 obs. of  2 variables:
 $ line: int  1 2 3 4
 $ text: chr  "Row, row, row your boat" "Gently down the stream" "Merrily merrily, merrily, merrily" "Life is but a dream"

### apply tidyverses

In [85]:
text_df
# text_df  %>% filter(line == 3)
# text_df  %>% select(text)

  line text
1 1    Row, row, row your boat
2 2    Gently down the stream
3 3    Merrily merrily, merrily, merrily
4 4    Life is but a dream

### unnest_tokens

* tibble의 하나의 cell에 담겨 있는 text 데이터를 분해하는 함수입니다.
* token은 분석의 단위를 나타냅니다.
* sentence, word 등이 될 수 있습니다. 한글의 경우, 형태소 단위도 될 수 있습니다. 
* 하나의 cell에 있는 데이터를 분해해서 행으로 나눠줍니다.

In [54]:
text_df

  line text
1 1    Row, row, row your boat
2 2    Gently down the stream
3 3    Merrily merrily, merrily, merrily
4 4    Life is but a dream

In [86]:
text_df

unnest_tokens(text_df, input=text, output = word, token = 'words')

  line text
1 1    Row, row, row your boat
2 2    Gently down the stream
3 3    Merrily merrily, merrily, merrily
4 4    Life is but a dream

   line word
1  1    row
2  1    row
3  1    row
4  1    your
5  1    boat
6  2    gently
7  2    down
8  2    the
9  2    stream
10 3    merrily
11 3    merrily
12 3    merrily
13 3    merrily
14 4    life
15 4    is
16 4    but
17 4    a
18 4    dream

* 이제 이것을 앞에서 살펴본 pipe operator를 이용해 봅니다.

In [56]:
text_df  %>% 
unnest_tokens(input = text, output = word, token = 'words')  %>% 
head(5)

  line word
1 1    row
2 1    row
3 1    row
4 1    your
5 1    boat

## join

* 서로 다른 테이블(data frame)에 있는 데이터를 서로 연계할 때 join을 사용할 수 있습니다. 
* stop words를 배제하거나, sentiment를 연결할 때 join을 사용하면 편리합니다.

In [57]:
text_df

  line text
1 1    Row, row, row your boat
2 2    Gently down the stream
3 3    Merrily merrily, merrily, merrily
4 4    Life is but a dream

### stop_words list

* 필요없는 단어는 분석에서 제외하고자 합니다.
* 이를 위해 stop words 곧, 불용어 리스트를 만들어 보겠습니다.

In [87]:
stop_words = c("your", "the", "is", "but", "a")

* 이 불용어 리스트를 tibble type으로 만들겠습니다.

In [92]:
tbl_df(stop_words) -> stop_words

stop_words

  word
1 your
2 the
3 is
4 but
5 a

* 컬럼의 이름을 변경하고 각 행에 index를 부여해보겠습니다.

In [95]:
# stop_words  %>% rename(word = value) -> stop_words
stop_words

  word
1 your
2 the
3 is
4 but
5 a

In [97]:
stop_words  %>%  mutate(id = row_number())  %>% select(id, word) -> stop_words
stop_words

  id word
1 1  your
2 2  the
3 3  is
4 4  but
5 5  a

In [62]:
stop_words

  id word
1 1  your
2 2  the
3 3  is
4 4  but
5 5  a

### stop_words exclude using join function

* 이제 unnest_token으로 만들어진 단어 목록에서 stop_words에 있는 단어를 제외하겠습니다.
* 이를 위해 anti_join을 사용하려고 합니다.

In [98]:
tbl_df(text_df)

  line text
1 1    Row, row, row your boat
2 2    Gently down the stream
3 3    Merrily merrily, merrily, merrily
4 4    Life is but a dream

In [100]:
text_df  %>% unnest_tokens(input= text, output = word, token = 'words') -> text_df_token

In [101]:
text_df_token
stop_words

   line word
1  1    row
2  1    row
3  1    row
4  1    your
5  1    boat
6  2    gently
7  2    down
8  2    the
9  2    stream
10 3    merrily
11 3    merrily
12 3    merrily
13 3    merrily
14 4    life
15 4    is
16 4    but
17 4    a
18 4    dream

  id word
1 1  your
2 2  the
3 3  is
4 4  but
5 5  a

* join의 종류
    * http://www2.stat.duke.edu/~cr173/Sta323_Sp18/slides/Lec15_sql.html#1

* text_df_token에서 stop_words에 있는 단어를 제외하고자 합니다.

In [103]:
text_df_token  %>% anti_join(stop_words, by='word')
# 
# anti_join(text_df_token, stop_words, by='word')

  line text
1 1    Row, row, row your boat
2 2    Gently down the stream
3 3    Merrily merrily, merrily, merrily
4 4    Life is but a dream

   line word
1  1    row
2  1    row
3  1    row
4  1    boat
5  2    gently
6  2    down
7  2    stream
8  3    merrily
9  3    merrily
10 3    merrily
11 3    merrily
12 4    life
13 4    dream

* 반대로 text_df_token 에 포함되어 있는 불용어만 골라낸다면 어떻게 할 수 있을까요?

In [71]:
text_df_token  %>% inner_join(stop_words, by='word')

  line word id
1 1    your 1
2 2    the  2
3 4    is   3
4 4    but  4
5 4    a    5